<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.om.mygame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".PracticeHomePage" />
        <activity android:name="comprehensive.VisualAndAuditory" />
        <activity android:name="practice.VisualAndAuditory" />
        <activity android:name="comprehensive.VisualOnlyWithDistraction" />
        <activity android:name="practice.VisualOnlyWithDistraction" />
        <activity
            android:name=".HomePage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_home_page"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="comprehensive.InstructionsVisualOnlyWithDistraction"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_trials_wodistraction"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="authentication.LandingPage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="comprehensive.InstructionsVisualAndAuditory"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_trials_wdistraction"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="authentication.LogIn"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_log_in"
            android:parentActivityName="authentication.LandingPage"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="authentication.LandingPage" />
        </activity>
        <activity
            android:name="authentication.Register"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_register"
            android:parentActivityName="authentication.LandingPage"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="authentication.LandingPage" />
        </activity>
        <activity
            android:name=".Network"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_network"
            android:parentActivityName="authentication.LandingPage"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="authentication.LandingPage" />
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName="authentication.LogIn"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="authentication.LogIn" />
        </activity>
        <activity
            android:name=".ResetPassword"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_reset_password"
            android:parentActivityName=".ForgotPassword"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="authentication.LogIn" />
        </activity>
        <activity
            android:name="comprehensive.AudioOnly"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_audio_only_page"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="practice.AudioOnly"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_audio_only_page"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="comprehensive.InstructionsAudioOnly"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_instructions_audio_only"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="comprehensive.VisualOnly"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_visual_only"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="practice.VisualOnly"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_visual_only"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="comprehensive.InstructionsVisualOnly"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_instructions_visual_only"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name=".Sessions"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_set"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>